# Environment mode: 'production' or 'mock'
NODE_ENV=mock

# WebSocket server port
WS_PORT=5001

# Production Podium API Configuration
PODIUM_API_URL=https://position.stratumfive.com
PODIUM_AUTH_API_URL=https://aviso-api.stratumfive.com/api/identity/connect/token
PODIUM_FETCH_ALL_VESSELS_API_URL=https://aviso-api.stratumfive.com/api/tmln/v2/cf/timeline/info
PODIUM_CLIENT_ID=HOayiWyam1irWg5eJWR8SIGFaWjuLeE
PODIUM_CLIENT_SECRET=PtuIplZHgGcRM5BPUXaIPpqi0yNEqECmgct64oPR4
PODIUM_SCOPE=extract-by-imo:metrics

# Mock API Configuration (used when NODE_ENV=mock)
MOCK_API_URL=https://stoplight.io/mocks/pole-star-global/podium-ais-positions/352757753
MOCK_CLIENT_ID=mock-client-id
MOCK_CLIENT_SECRET=mock-client-secret

PODIUM_USERNAME=chaitanya-sisl
PODIUM_PASSWORD=Seven@@Th%93
